<div class="container p-5">
    <div class="jumbotron">
        <h1 class="display-4">Booking successful!</h1>
        <p class="lead">Thank you for your booking</p>
        <hr class="my-4">
        <p class="lead">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            Your confirmation email will arrive shortly.
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
        </p>
    </div>

    <div>

    </div>
</div>
