<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img  style="width: 80px; height: 40px;" class="img-fluid rounded float-left" src="../../Images/icons/tpi4.png" />
        The Property Inspectors
    </a>
    <div ui-view="toolbar" class="collapse navbar-collapse">
    </div>
</nav>
<div id="content" ui-view="content" class="container"></div>